/* ESTO ES UN RESET */


@media screen and (min-width: 1px) and (max-width: 999999px){

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, a:hover, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }

    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    *{
        box-sizing: border-box;
    }
}


/* ----- AQUI EMPIEZA EL CODIGO ----- */

/* --- GENERAL --- */
 
body{
    width: 100%;
    height: 100%;
    color: rgba(50, 50, 50, 1);
    font-family: 'Lato', sans-serif;
    background-color: rgba(50, 50, 60, 0.8);
}

a, a:hover, a:visited, h1, h2, h3, p{
    color: inherit;
    font-family: inherit;
}

header{
    text-align: center;
    background: url(../img/header%20background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
    height: 500px;
}

.headline{
    text-align: center;
    margin: 10px;
}
    
 h1, h2, h3{
    font-family: 'Scheherazadw New', serif;
    font-size: 48px;
    font-weight: 600;
    padding: 0.5em;
    color: rgba(226, 263, 228, 1);
}

p{
    font-size: 12px;
    color: white;
}
    
.nav_menu{
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    height: 300px;
    font-size: 18px;
    color: rgba(255, 225, 225, 1);
}
    
nav ul li a:hover{
    font-size: 22px;
}
    
nav ul{
    display: flex;
    background-color: rgba(54, 54, 54, 0.4);
}
    
nav ul li{
    width: 25%;
}

nav ul li ul li{
    width: 100%;
}
    
nav a, nav a:hover{
    display: block;
    padding: 1em;
    text-align: center;
}

nav ul li ul{
    font-size: 12px;
    display: none;
}

nav ul li ul li a:hover{
        font-size: 16px;
}

nav ul li a:hover+ul,nav ul li ul:hover{
     display: block;
 }
    
 .s1{
     text-align: center;
     position: absolute;
     top: 600px;
     left: 50px;
     text-align: center;
     font-size: 36px;
     width: 80%;
     padding: 20px;
     height: 220px;
     width: 65%;
     background-color: rgba(112, 155, 112, 0.87);
     border-radius: 6.5px;
 }
 
.lang1, .lang2{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 30px 10px;
    transition: font-size 0.8s, width 0.5s;
    transition-delay: 0.15s;
}

.lang1 a, .lang2 a{
    background-color: rgba(151, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.lang1:hover, .lang2:hover{
    font-size: 50px;
    width: 300px
}
    
.line1{
        width: 50%;
    }

.aside{
    width: 100%;
    height: 100%;
}

aside{
    width: 20%;
    position: absolute;
    right: 50px;
    top: 600px;
    background-color: rgba(97, 66, 66, 0.87);
    padding: 7px;
    border-radius: 6.5px;
}

footer{
    position: absolute;
    top: 1350px;
    left: 10px;
    padding: 10px;
    border-radius: 6.5px;
    min-height: 40px;
}

footer ul{
}

footer ul li{
    display: inline;
    padding: 20px 30px;
    text-align: center;
    background-color: rgba(292, 147, 53, 0.4);
    transition: background-color 0.4s;
    transition-delay: 0.5s;
    margin-left: 20px;
}

footer ul li:hover{
    background-color: rgba(254, 139, 139, 0.4);
}