/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ----- ESTO ES UN RESET ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

*{
    box-sizing: border-box;
}


/*  COLORES

Azul claro: #D6E2FF
Rosita claro> #FFECF3
Verde oscuro: #202D23
Blanco: #f5f0ed
Gris: #3c3c3b

Texto claro: #f5f0ed
Texto oscuro: #3c3c3b


TIPOGRAFÍAS

Open Sans Regular
Open Sans Extrabold


TAMAÑOS

Encabezado 1r nivel: 32px
Encabezado 2º nivel: 24px
Encabezado 3r nivel: 18px
Cuerpo de texto: 16px
Botones: 14px
*/

    
/* ----------- GENERALIDADES ------------- */

@media screen and (min-width: 5px) and (max-width: 999999px){
    
    /* -- FONDOS -- */
    
    body{
        background-color: #202D23;
        padding: 25px;
    }

    .box03, .box05{
        background: #FFECF3;
        border-radius: 5px;
    }


    /* -- FUENTES -- */

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 32px;
        position: relative;
        color: #f5f0ed;
    }

    .box03, .box05{
        color: #3c3c3b;
    }

    h1{
        font-weight: bold;
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        line-height: normal;
    }

    h2{
        font-style: italic;
        font-size: 24px;
    }

    h3, h4, h5, h6{
        font-family: 'Scheherazade New', serif;
        font-size: 18px;
    }

    .introtext{
        font-size: 14px;
        font-style: italic;
    }
    
    /* ---- LINKS ---- */

    a{
        text-decoration: none;
        color: black;
    }

    a:visited{
        text-decoration: none;
        color: black;
    }

    a:hover{
        text-decoration: none;
        color: #f5f0ed;
    }
    
        /* --------- BOXES -------- */

    .boxes{
        width: 100%;
        min-height: 20px;
        text-align: center;
    }

    .box02, .box03, .box05{
        padding: 30px;
    }


    /* ---- BOX01 ---- */

    .box01{
        padding: 75px 10px;
        background: url(../img/fondo.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;
        border-radius: 5px;
    }

    .head01{
        margin: 50px 0px 10px 0px;
    }

    .line01{
        height: 2px;
        width: 20%;
        margin: 25px auto;
        background-color: #f5f0ed;
    }

    .logo{
        position: absolute;
        top: 35px;
        left: 35px;
    }

    .logo img{
        width: 50px;
        opacity: 0.75;
        border-radius: 5px;
    }


    /* ---- BOX03 ---- */

    .line02{
        height: 3px;
        width: 40%;
        margin: 25px auto;
        background-color: #3c3c3b;
    }

    .button01{
        background-color: transparent;
        border: 2px solid #3c3c3b;
        min-width: 5px;
        padding: 5px;
        opacity: 1;
        transition: .5s background-color;
        width: 140px;
        margin: 0px auto;
    }

    .button01 a{
        min-height: 20px;
        width: 100%;
    }

    .button01:hover{
        background-color: rgba(36, 29, 27, .6);
    }


    /* ---- PRODUCTOS O BOX04 ---- */

    .head03{
        margin: 60px 0px 10px 0px;
    }

    .list01 a{
        color: #f5f0ed;
    }

    .list01 a:hover{
        color: #D6E2FF;
    }

    .list01 li{
        padding: 50px 0px;
        text-align: center;
    }

    .list01 img{
        width: 100%;
        border-radius: 5px;
    }

    .li01, .li02, .li03, .li04{
        border-bottom: 2.5px #f5f0ed solid;
    }
    
}



/* ----------- SEGUN PANTALLA --------------*/

    /* PANTALLA GRANDE */

@media screen and (min-width: 630px){
    

    /* ---- MENU NAVEGACION ---- */
    
    .linkmenu{
        display: none;
    }
    
    .menu{
        position: absolute;
        top: 35px;
        right: 35px;
        background-color: rgba(245, 240, 237, 0.35);
        border-radius: 3.5px;
    }

    .main-links li{
        display: inline-block;
        padding: 7.5px;
    }

}

    /* PANTALLA PEQUEÑA */

@media screen and (max-width: 629px){
    
    .menu{
        position: relative;
        background-color: rgba(245, 240, 237, 0.35);
        border-radius: 3.5px;
        margin-top: 25px;
        text-align: center;
        font-size: 12px;
    }
    
    .menu li{
        display: inline-block;
        padding: 7.5px;
    }

    .linkmenu{
        padding: 0px 8px;
        width: 50px;
        height: 50px;
        background-color: rgba(245, 240, 237, 0.35);
        position: absolute;
        top: 35px;
        right: 35px;
        border-radius: 5px;
    }
    
    .linkmenu li{
        height: 12.5px;
    }
    
    .linkmenuli01, .linkmenuli02, .linkmenuli03{
        margin-top: 1.5px;
        border-bottom: 6px #3c3c3b solid;
        border-radius: 3px;
    }
}




