/*
Tipos de letra:
En busca de las setas: 'Nunito', sans-serif;
Body: 'Comforter Brush', cursive;
Los colores son:
•	El fondo del título #CD5C5C
•	Las 4 imágenes de debajo del título son enlaces
•	El color de fondo del texto es: #FFA07A
•	El fondo del formulario es: #FFDAB9
•	El color del botón es: #BDB76B
*/

/* ---------- FONTS ---------- */

@font-face{
    font-family:Nunito-Regular;
    src:url(../fonts/Nunito-Regular.ttf)
}

@font-face{
    font-family:ComforterBrush-Regular;
    src:url(../fonts/ComforterBrush-Regular.ttf);
}

a, a:hover, a:visited{
    text-decoration:none;
    color:white;
    cursor:pointer;
}

/* ---------- GENERAL ---------- */

body{
    background-color:green;
    background-image:url(../img/fondo.jpg);
    background-size:cover;
    color:white;
}

/* ---------- CONTAINER AND ASIDE ---------- */

#container{
    display:inline-block;
    position:relative;
    width:67%;
    float:left;
    padding: 20px;
}

aside{
    display:inline-block;
    position:relative;
    width:29%;
}

/* ---------- ASIDE&FORM ---------- */

form{
    width:80%;
    margin:340px auto;
    padding:15px 20px 30px 20px;
    background-color:#FFDAB9;
    border:5px white solid;
    border-radius:5px;
}

input{
    display:block;
    margin:0px auto;
    padding:3px;
    width:90%;
    height:25px;
    border:1px solid grey;
    border-radius:3px;
    font-family:Nunito-Regular;
}

button{
    display:block;
    margin:20px auto;
    width:50%;
    padding:20px;
    background-color:#BDB76B;
    color:white;
    cursor:pointer;
    font-family:Nunito-Regular;
}

form img{
    display:block;
    margin:20px auto;
    width:50%;
}

/* ---------- HEADER ---------- */

header{
    display:block;
    margin:0px auto;
    width:90%;
    min-height:60px;
    text-align:center;
    font-family:Nunito-Regular;
    font-size:24px;
    background-color:#CD5C5C;
    border:4px solid white;
    border-radius:5px;
}

/* ---------- SECTION IMAGES 1-4 ---------- */

#images-1-4{
    position:relative;
    display:block;
    padding:0px 15px;
    width:50%;
    margin:20px auto;
}

.image{
    display:inline-block;
    height:50px;
    width:50px;
    margin:15px;
    padding:3px;
    background-color:white;
    border-radius:5px;
}

.image img{
    display:block;
    position:relative;
    height:50px;
    width:50px;
}

/* ---------- SECTION TEXTOS + IMG ---------- */

#text-img{
    display:block;
    margin:0px auto;
    width:80%;
    background-color:#FFA07A;
    text-align:justify;
    padding:20px 20px 0px 20px;
    border:5px solid white;
    border-radius:4px;
    font-family:ComforterBrush-Regular;
    font-style:italic;
    font-size:12.5px;
}

#text-img p{
    margin:0px;
}

.img-5-6{
    margin:0px auto 20px auto;
    background-color:white;
    padding:4px;
    width:200px;
    height:133px;
    border-radius:5px;
}

.img-5-6 img{
    display:block;
    width:100%;
    margin:0px auto;
}