/* ----- ESTO ES UN RESET ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a:hover, a:visited, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

*{
    box-sizing: border-box;
}

/* logo and tittles */
header {
    width: 80%;
    margin: 0px auto;
    display: inline-grid;
    grid-template-columns: 25% 75%;
    text-align: center;
}
#logo {
    margin-top: 2em;
}
#title {
    font-size: 2em;
    font-family: 'Comforter', cursive;
}
#subtitle {
    font-family: 'Roboto', sans-serif;
}

/* define navigation menu */
nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    min-height: 2em;
    background-color: rgba(227, 206, 206, 0.9);
    margin-bottom: 2em;
}
a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    transition: 0.6s ease;
}
a:visited, a:hover {
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 1);
}
.menu-links {
    min-height: 0.5em;
    padding: 1em;
}

/* define the slide container */
.slidesContainer {
    width: 50%;
    position: relative;
    margin: 0px auto;
}
.imgs {
    margin: 0px auto;
}
/* hide slides */
.slide {
    display: none;
    margin: 0px auto;
}
/* next and prev buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}
.prev {
    left: 10%;
}
.next {
    right: 10%;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
/* img text */
.textImg {
    background-color: rgba(68, 49, 0, 1);
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
}
/* number text */
.numberSlide {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* circles indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.dot:hover {
    background-color: #717171;
}
/* transitions I call for in the HTML */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}