coches {
    background-color: rgb(148, 206, 214);
    border: 0.5em rgb(146, 146, 146) solid;
    padding: 1em;
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fabricantes {
    width: 5em;
}

fundacion {
    display: none;
}

fabricante {
    display: block;
    margin: 0.2em auto;
    padding: 1em;
    width: 14em;
    background-color: rgb(255, 229, 195);
    font-size: 0.9em;
}

modelo {
    display: block;
}