    /* ----- ESTO ES UN RESET ----- */

@media screen and (min-width: 1px) and (max-width: 999999px){
    
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, a:hover, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    /* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

    *{
        box-sizing: border-box;
    }
}


/* PALETA DE COLORES

#783A00 marron oscuro
#c68e6d marron mas claro
#3a7ca2 azul pantano
#66d0f1 azul claro
#0e0708 negro
#3994dd azul facebook

*/

/* FONTS AND BODY */

@font-face{
        font-family:OpenSans-Light;
        src:url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family:OpenSans-Regular;
    src:url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family:OpenSans-SemiBold;
    src:url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
body{
    font-family:OpenSans-Regular;
    font-size:0.8em;
    background-color:#783A00;
    color:#ffffff;
}
.doctor-jokes, .misunding-jokes, .children-jokes{
    font-family:OpenSans-SemiBold;
    font-size:1.4em;
}

/* MAIN AND INSET BOX */
@media screen and (min-width:750px){
    #main-box{
        position:absolute;
        width:100%;
        min-height:200px;
        overflow:visible;
        background-color:#66d0f1;
        margin-top:20px;
        padding:30px;
    }
    #inset-box{
        position:relative;
        width:100%;
        background-color:#c68e6d;
        padding:10px 25px;
        height: 620px;
    }
}

@media screen and (min-width:1px) and (max-width:750px){ #main-box{
        position:absolute;
        width:100%;
        min-height:200px;
        overflow:visible;
        background-color:#66d0f1;
        margin-top:20px;
        padding:30px;
    }
    #inset-box{
        position:relative;
        width:100%;
        background-color:#c68e6d;
        padding:10px 15px;
        height: 1000px;
    }
}

/* MAIN TITLE, SECONDARY TITLES */

.title{
    font-family:OpenSans-SemiBold;
    font-size:2em;
    color:#000000;
}

/* COLUMNS ORGANIZATION */

#columns-box{
    position:absolute;
    display:block;
    width:95%;
    background-color:#3a7ca2;
    top:40px;
    }
.column-1, .column-2, .column-3{
    width:30%;
    min-height:250px;
    display:inline-block;
    position:relative;
    float:left;
}
.column-1{
    top:0px;
    left:0px;
}
.column-2{
    top:0px;
    left:0px;
}
.column-3{
    top:0px;
    left:0px;
}
.doctor-jokes, .doctor-joke-1, .doctor-joke-2, .doctor-joke-3, .misunding-jokes, .misunding-joke-1, .misunding-joke-2, .misunding-joke-3, .children-jokes, .children-joke-1, .children-joke-2, .children-joke-3{
    width:100%;
    display:block;
    position:relative;
}
.line-1, .line-2, .line-3{
    display:inline-block;
    position:relative;
    float:left;
    width:1px;
    height:500px;
    margin-top:10px;
    border:2px solid #783A00;
}


/* JOKES BOXES */

.doctor-jokes, .misunding-jokes, .children-jokes{
    height:25px;
    width:80%;
    padding:5px;
    margin:10px auto;
}
.doctor-joke-1, .misunding-joke-1, .children-joke-1{
    min-height:75px;
    width:80%;
    padding:10px 20px;
    margin:10px auto;
    border:3px #3994dd outset;
}
.doctor-joke-2, .misunding-joke-2, .children-joke-2{
    min-height:75px;
    width:80%;
    padding:10px 20px;
    margin:10px auto;
    border:3px #3994dd outset;
}
.doctor-joke-3, .misunding-joke-3, .children-joke-3{
    min-height:75px;
    width:80%;
    padding:10px 20px;
    margin:10px auto;
    border:3px #3994dd outset;
}
