@charset "utf-8";
/* CSS Document */

	/*CSS Reset*/
	
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,small {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* General styling */

body {
    text-align:center;
    font-size:11px;
    color:#202020;
    background-color:#000000;
    background-image:url(../images/bgbody.jpg);
    background-position:center;
    background-size:cover;
}

header{
    text-align:center;
    margin: 30px auto;
}

h1{
    font-size: 72px;
}

h2{
    font-size:40px;
}

h1, h2, h3, h4, h5, h6 {
    color:#FEEBFF;
    font-family:'Cormorant Unicase', serif;
}

.ojo{
    width: 20%;
    position: relative;
    top:65%;
}
#wrapper {
    background:black;
    animation-name:degradate;
    animation-duration:5s;
    animation-iteration-count:infinite;
    width:700px;    
    height: 700px;
    margin:75px auto;
    text-align:center;
    border-radius: 400px;
}

/* Title Stylings */

.instruction{
    text-shadow:2px 0px 5px #DEDAB8;
    color:#E0CA0B;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    position:relative;
    top:-35px;
}

.titlecard{
    color: #354A3B;
    font-weight: bold;
    font-size:18px;
    padding:10px;
}

.description li{
    background-color:rgba(255, 255, 255, 1);
}

/* Index Card Styling */

ul#index_cards {
    margin-top:20px;
    margin-left:20px;
    text-align:left;
}

ul#index_cards li {
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    display:block;
    float: left;
    position:relative;
    transition: all 0.5s;
}

ul#index_cards li img{
    width: 75px;
    border:10px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    transition: all 0.3s;
}

ul#index_cards li ul.description{
    text-align:center;
    max-height:0px;
    overflow:hidden;
    transition: all 0.7s;
    transition-delay:0.07s;
    border:none;
    transform: rotateY(180deg);
}

ul#index_cards li ul li{
    width: 85px;
    padding:10px 5px;
    border:1px solid #000000;
    border-radius:5px;
}

/* cards position */

#card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7{ 
    perspective: 600px;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

#card-1 .back, #card-2 .back, #card-3 .back, #card-4 .back, #card-5 .back, #card-6 .back, #card-7 .back{
    position: absolute;
    backface-visibility: hidden;
}

#card-1 .front, #card-2 .front, #card-3 .front, #card-4 .front, #card-5 .front, #card-6 .front, #card-7 .front{
    position: relative;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

#card-1 {
    z-index:10;
    transform: rotate(-67.5deg);
    top:120px;
    left:60px;
}

#card-2 {
    z-index:20;
    transform: rotate(-45deg);
    top:55px;
    left:20px;
}

#card-3 {
    z-index:30;
    transform: rotate(-22.5deg);
    top:15px;
    left:5px;
}

#card-4 {
    z-index:40;
    transform: rotate(0deg);
    top:0px;
    right:0px;
}

#card-5 {
    z-index:50;
    transform: rotate(22.5deg);
    top:15px;
    right:5px;
}

#card-6{
    z-index:60;
    transform: rotate(45deg);
    top:55px;
    right:20px;
}

#card-7{
    z-index:70;
    transform: rotate(67.5deg);
    top:120px;
    right:60px;
}

/* Hover States */

ul#index_cards li:hover, ul#index_cards li img:hover{
    z-index:100;
    cursor:pointer;
}

ul#index_cards li img.front:hover+ul.description, ul#index_cards li ul.description:hover{
    max-height:1000px;
}

/* CARDS HOVER*/

#card-1:hover, #card-2:hover, #card-3:hover, #card-4:hover, #card-5:hover, #card-6:hover, #card-7:hover{
    transform: rotate(0deg) perspective(500px) rotateY(180deg) translateX(0px);
}


/* Animations */

@keyframes degradate{
    0%{background-color: black;}
    16.6%{background-color: #1a001a;}
    33.3%{background-color:#460046;}
    50%{background:radial-gradient(circle, #4d004d 10%, #1a001a 85%);}
    66.6%{{background-color:#460046;}
    83.3%{background-color: #1a001a;}
    100%{background-color:black;}
}