<head>
    <title>Tres en ralla.</title>
    <script type='text/javascript' src='tresenralla.js'></script>
    <link rel='stylesheet' type='text/css' href='tresenralla.css'>
</head>

<body>
    <h1>Tres en ralla.</h1>
    <form name="game">
        <input type="button" name='b11' onclick="pintar(this)">
        <input type="button" name='b12' onclick="pintar(this)">
        <input type="button" name='b13' onclick="pintar(this)">
        <br>        
        <input type="button" name='b21' onclick="pintar(this)">
        <input type="button" name='b22' onclick="pintar(this)">
        <input type="button" name='b23' onclick="pintar(this)">
        <br>
        <input type="button" name='b31' onclick="pintar(this)">
        <input type="button" name='b32' onclick="pintar(this)">
        <input type="button" name='b33' onclick="pintar(this)">
    </form>
</body>