casa {
    background-color: rgb(233, 159, 0);
    font-family: 'Times New Roman', Times, serif;
}

tarea {
    display: block;
    margin-left: 60px;
}

titulo {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

pelicula {
    display: block;
    color: rgb(165, 42, 42);
}

dia {
    display: block;
    color: rgb(0, 71, 0);
    font-weight: bold;
}