casa {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

tarea {
    display: block;
    margin-left: 10px;
    padding: 30px;
    color: rgb(0, 0, 0);
    border-top: solid 2px rgb(0, 0, 0);
}

titulo,
dia {
    display: inline-block;
    font-weight: bold;
}

pelicula {
    display: inline-block;
}

#id3 {
    border-bottom: solid 2px rgb(0, 0, 0);
}