casa {
    background-color: rgb(190, 229, 241);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

tarea {
    background-color: rgb(255, 255, 0);
    margin: 7px;
    padding: 20px;
    display: block;
    border: solid 2px rgb(0, 0, 0);
    font-size: 16px;
}

titulo,
dia,
pelicula {
    display: block;
    line-height: 45px;
}

titulo,
dia {
    font-weight: bold;
}