casa {
    background-color: rgb(190, 229, 241);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

tarea {
    background-color: rgb(255, 255, 0);
    margin: 7px;
    padding: 10px;
    display: block;
    border: solid 2px rgb(0, 0, 0);
    font-size: 17px;
}

titulo,
dia,
pelicula {
    display: block;
    line-height: 18px;
}

titulo,
dia {
    font-weight: bold;
}

titulo {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
}