/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ----- ESTO ES UN RESET ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

*{
    box-sizing: border-box;
}


/* GENERAL */

body{
    width: 100%;
    height:100%;
    color: black;
    background-color: #cccccc;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 22px;
}

.header{
    font-size: 48px;
    font-weight: 600;
    margin: 20px auto;
}

.subheader{
    width: 80%;
    min-height: 75px;
    background-color: #FFD48D;
    border: 2px #7D6536 solid;
    padding: inherit;
    margin: 10px auto;
}

.box1{
    text-align: left;
    width: 34%;
    min-height: 180px;
    margin: 10px 20px;
    position: absolute;
    left: 70px;
    top: 180px;
    z-index: 10;
    background-color: #FFFF80;
    border: 3px #D6D643 solid;
    padding: inherit;
}

.box2{
    text-align: right;
    width: 34%;
    min-height: 180px;
    margin: 10px 20px;
    position: absolute;
    right: 70px;
    top: 180px;
    z-index: 20;
    background-color: #CCFFFF;
    border: 3px #9FC6C6 solid;
    padding: inherit;
}

.box3{
    text-align: left;
    width: 34%;
    min-height: 180px;
    margin: 10px 20px;
    position: absolute;
    left: 70px;
    top: 370px;
    z-index: 30;
    background-color: #FFE5FF;
    border: 3px #BEA7BE solid;
    padding: inherit;
}

.box4{
    text-align: right;
    width: 34%;
    min-height: 180px;
    margin: 10px 20px;
    position: absolute;
    right: 70px;
    top: 370px;
    z-index: 40;
    background-color: #FFB3B3;
    border: 3px #846262 solid;
    padding: inherit;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    z-index: 60;
}

.box5{
    width: 34%;
    min-height: 180px;
    position: relative;
    margin: 125px auto;
    z-index: 50;
    background-color: #80FF80;
    border: 3px #367D36 solid;
    padding: inherit;
}