/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */
*{
    box-sizing: border-box;
}
/* FONTS */
@font-face{
    font-family: Amatic;
    src: url(../fonts/Amatic/AmaticSC-Regular.ttf);
}
@font-face{
    font-family: Meow;
    src: url(../fonts/Meow/MeowScript-Regular.ttf);
}
@font-face{
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf);
}
@font-face{
    font-family: Prociono;
    src: url(../fonts/Prociono/Prociono-Regular.ttf);
}
h1{
    display:block;
    font-family: Amatic;
    font-size: 2.5em;
    font-weight: 500;
}
h2{
    display:block;
    font-family: Prociono;
    font-size: 1.5em;
}
h3{
    display:block;
    font-family: Meow;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    color:#D68391;
}
p{
    display:block;
    font-family: OpenSans;
    font-size: 0.8em;
}
/* BODY */
body{
    background-color: #FFF9FA;
    font-family: sans-serif;
    font-size: 1em;
    color:#2E1600;
    padding:0px;
    margin:0px;
}
a, a:hover, a:visited{
    color:#4C748F;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9em;
}
/* HEADER */
header{
    margin: 5em 0em;
    text-align: center;
    width: 100%;
}
#burger-button{
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 0.5em;
    cursor: pointer;
    background-color: #D68391;
    width:3em;
    height:3em;
    border-radius: 1em;
    border: 0.2em solid #ffffff;
    box-shadow: 0.01em 0.01em 0.1em 0.2em #696969;
}
#burger-button img{
    width:100%;
    -webkit-filter:invert(100%);
}
header img{
    width: 160px;
    border-radius: 10em;
}

header h1{
    margin: 1em inherit;
}
/* SECTION */
section{
    position: relative;
    width: 100%;
    padding:0px;
}
section article{
    margin: 1em auto;
    padding-top: 1.5em;
    min-height: 25em;
    padding: 0px;
    margin: 0px;
}
.article-1, .article-2, .article-3, .article-4, .article-5{
    min-height: 32em;
    background-color: #ffffff;
}
#articles img{
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 0px;
}
section p{
    text-align: justify;
    height: 2em;
    white-space: pre-wrap;
    overflow: hidden;
}
section h2, section h3{
    text-align: justify;
}
section a{
    display:block;
    margin:1em;
    font-size: 0.9em;
    text-align: right;
    font-style: italic;
}
.description{
    margin: 0.005em 0.01em 1em 0.01em;
    padding: 1em;
}
/* ASIDE */
aside img{
    width: 100%;
    border-radius: 0.5em 0.5em 0em 0em;
}
aside a{
    margin:0em;
}
#big-aside-container-ad-1, #big-aside-container-ad-2{
    margin: 1em;
    border: 0.5em solid #6B6B6B;
    border-radius: 1em;
}
#ads p{
    text-align: center;
    height: 1em;
    margin: 0.5em;
}
/* NAV */
nav{
    width: 90%;
    margin: 1em auto;
    text-align: center;
}
nav ul{
    margin:0em;
    padding:0em;
}
nav ul li{
    padding: 1em;
    margin: 1em;
    background-color: #4A4A4A;
    border-radius: 0.5em;
    transition: background-color;
    transition-duration: 1s;
}
nav a{
    width: 2em;
    color: #ffffff;
}
nav a:hover, nav ul li:hover{
    background-color: #C5C5C5;
    cursor: pointer;
}
nav a:hover, nav a:visited{
    color: #ffffff;
}
/* FOOTER */
footer{
    width: 300px;
    min-height:20px;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}
footer img, footer h3{
    display: inline-block;
    color:#4C748F;
}
footer img{
    position: relative;
    top: 7.5px;
    right: 7.5px;
    width: 30px;
    -webkit-filter: grayscale(100%);
}
#swipe-up{
    padding-bottom: 4em;
}
/* MEDIUM SCREEN */
@media screen and (min-width:480px) and (max-width:749.99px){
    h1{
        font-size: 2.8em;
    }
    #articles{
        position: relative;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        padding: 1em;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
    .description{
        margin: 1em;
        padding: 0em;
    }
    .article-1, .article-2, .article-3, .article-4, .article-5{
        border: 2px solid #D7D7D7;
        border-radius: 0.5em;
        padding: 0.5em;
    }
    aside{
        width: 90%;
        margin: 0em auto;
    }
    .ad-1{
        top: 75em;
    }
    .ad-2{
        top: 90em;
    }
}
/* BIG SCREENS */
@media screen and (min-width:750px) and (max-width:1649.99px){
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 2em;
    }
    /* HEADER */
    header{
        margin: 7em 0em 5em 0em;
    }
    /* SECTION AND ASIDE */
    section{
        display: inline-block;
        width: 69.5%;
        margin: 0em;
    }
    #big-section-container{
        display: inline-block;
    }
    article#articles{
        position: relative;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        padding: 1em;
        grid-column-gap: 0.5em;
    }
    section p{
        height: 2em;
    }
    .description{
        margin: 1em;
        padding: 0em;
    }
    .article-1, .article-2, .article-3, .article-4, .article-5{
        border: 2px solid #D7D7D7;
        border-radius: 0.5em;
        padding: 0.5em;
    }
    aside{
        display: inline-block;
        padding: 1em;
        width: 29.5%;
    }
    #big-aside-container-ad-1, #big-aside-container-ad-2{
        margin: 0em;
    }
    /* NAV */
    #burger-button{
        display: none;
    }
    nav{
        position: fixed;
        width: 95%;
        left: 2.5%;
        top: 0em;
    }
    nav ul li{
        display: inline-block;
        width: 24%;
        margin: 0em;
    }
    nav a{
        width: 23%;
    }
    /* FOOTER */
    footer{
        width: 100%;
        font-size: 1.2em;
    }
    footer div{
        width: 30%;
        display: inline-block;
    }
}
/* REALLY BIG SCREENS */
@media screen and (min-width:1650px){
/*
h1{3.5}
h2{1.8}
h3{2}
    should check this at home when im on the big scren...
    yep.
*/
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 3em;
    }
    /* HEADER */
    header{
        margin: 5em 0em 5em 0em;
    }
    /* SECTION AND ASIDE */
    section{
        display: inline-block;
        width: 35%;
        margin: 0em;
    }
    #big-section-container{
        display: inline-block;
    }
    article#articles{
        position: relative;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        padding: 1em;
        grid-column-gap: 0.5em;
    }
    section p{
        height: 2em;
    }
    .description{
        margin: 1em;
        padding: 0em;
    }
    .article-1, .article-2, .article-3, .article-4, .article-5{
        border: 2px solid #D7D7D7;
        border-radius: 0.5em;
        padding: 0.5em;
    }
    aside{
        position: absolute;
        right: 5em;
        padding: 1em;
        width: 20%;
    }
    .ad-1{
        top: 17em;
    }
    .ad-2{
        top: 45em;
    }
    #big-aside-container-ad-1, #big-aside-container-ad-2{
        margin: 0em;
    }
    /* NAV */
    #burger-button{
        display: none;
    }
    nav{
        position: fixed;
        width: 95%;
        left: 2.5%;
        top: 0em;
    }
    nav ul li{
        display: inline-block;
        width: 24%;
        margin: 0em;
    }
    nav a{
        width: 23%;
    }
    /* FOOTER */
    footer{
        margin: 2em auto;
        width: 100%;
        font-size: 1.2em;
    }
    footer div{
        width: 30%;
        display: inline-block;
    }
}