pintores {
    background-color: #141618;
    font-family: 'Century Gothic', sans-serif;
    color: #ffffff;
}

titulo {
    display: block;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 1em auto;
}

pintor {
    display: inline-block;
    width: 5em;
    padding: 1em;
    margin: 0.5em 1.25em;
    border: solid #ff0000 0.1em;
    border-radius: 1em 1em 0em 0em;
    text-align: center;
}

nombre {
    font-weight: 600;
}

nombre,
nacido,
fallecido,
nacionalidad {
    display: block;
}

nacionalidad {
    display: none;
}