hitchcock {
    background-color: #91de17;
}

estudios,
actores,
peliculas estudios,
peliculas actores,
oscar {
    display: none;
}

peliculas {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
    height: 9em;
}

pelicula {
    border: 0.5em solid #000000;
    border-radius: 1em;
    display: inline-block;
    margin: 20px;
    width: 10em;
    background-color: #FFFFFF;
}

titulo,
fecha {
    display: block;
    border: 2px solid #000000;
    padding: 1em 2em;
    height: 3em;
}