<head>
    <!--
        la etiqueta script indica que vamos a introducir la direccion de un documento .js,
        para incorporarlo al html, tal y como hariamos con un .css
        el atributo type = 'text/javascript' no siempre es necesario, mas bien una convencion
    -->
    <script type='text/javascript' src="practice.js"></script>
</head>
<body>
    <!-- onclick me permite llamar a una funcion de javascript al hacer click -->
    <button onclick='tabla()'>Tabla multiplicar</button>
    <button onclick='mayoredad()'>Edad</button>
    <button onclick="colorear('green')">Verde</button>
    <button onclick="colorear('blue')">Azul</button>
    <button onclick="colorear('red')">Rojo</button>

</body>