/* ----- ESTO ES UN RESET ----- */

@media screen and (min-width: 1px) and (max-width: 999999px){
    
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, a:hover, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    /* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

    *{
        box-sizing: border-box;
    }
}

/* ----- EMPIEZA EL CODIGO ----- */

/* FUENTES */

@font-face{
    font-family:Roboto-Bold;
    src:url(../fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family:Roboto-Regular;
    src:url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family:Roboto-Thin;
    src:url(../fonts/Roboto-Thin.ttf)
}

body{
    font-family:Roboto-Regular;
    font-size:1em;
}

h1{
    font-family:Roboto-Thin;
    font-size:2em;
}

.conditions{
    font-family:Roboto-Bold;
    font-size: 0.75em;
}

.conditions a{
    text-decoration-color:blue;
    color: blue;
}

.conditions a:visited{
    text-decoration-color:blue;
    color: blue;
}

/* GENERAL FORM */

#main_container{
    width:400px;
    min-height: 500px;
    margin:50px auto;
    background-color:#ECECEC;
    padding: 20px;
    border:2px solid #E0E0E0;
    border-radius:10px;
    box-shadow:3px 3px 3px #E0E0E0;
    color:#555555;
}

#registration{
    width:80%;
    margin:10px auto;
}
/* H1 */

h1{
    text-align:center;
}

/* CHECK 1 */

#check1{
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
    padding: 20px 0px;
}

#personal_check, #company_check{
    display:inline-block;
    width:45%;
    margin:0px auto;
    text-align:right;
    position: relative;
    cursor: pointer;
}

#personal_input, #company_input{
    opacity:0;
    cursor: pointer;
    position: absolute;
    left:35px;
    top:0px;
}

#personal_span, #company_span{
    height: 18px;
    width: 18px;
    position: absolute;
    background-color: #003C98;
    left:35px;
    top:-2px;
    border-radius:9px;
}

#personal_span:after, #company_span:after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1.5px;
    width: 4.5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#personal_input:checked ~ #personal_span:after, #company_input:checked ~ #company_span:after{
    display: block;
}

/* CAMPOS */

#campos{
    margin: 20px auto;
    padding: 10px;
}

#name, #email, #passw{
    display:block;
}

#campos input{
    display:inline-block;
    position:relative;
    top:-11px;
    left:-5px;
    width: 78%;
    height:38px;
    padding:10px;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    border: 2px solid #E0E0E0;
    box-shadow:3px 3px 3px #E0E0E0;
}

#email_img, #name_img, #passw_img{
    display:inline-block;
    width: 16%;
    height:30px;
    background-color:#003C98;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#email_img img{
    width:60%;
    margin:2px 9px;
    display:inline-block;
    -webkit-filter:invert(100%);
}

#name_img img{
    width:40%;
    margin:6px 13px;
    display:inline-block;
    -webkit-filter:invert(100%);
}

#passw_img img{
    width:40%;
    margin:6px 13px;
    display:inline-block;
    -webkit-filter:invert(100%);
}

/* CHECK 2 */

#male_check, #female_check{
    display:inline-block;
    cursor:pointer;
    position:relative;
    width:40%;
    text-align:right;
    margin:0px auto;
}

#male_input, #female_input{
    position:absolute;
    left:0px;
    top:0px;
    opacity:0;
}

#male_span, #female_span{
    position:absolute;
    height:18px;
    width:18px;
    background-color:#003C98;
    border-radius:9px;
}

#male_span{
    left:47px;
    top:-2px;
}

#female_span{
    left:35px;
    top:-2px;
}

#male_span:after, #female_span:after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1.5px;
    width: 4.5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#male_input:checked ~ #male_span:after, #female_input:checked ~ #female_span:after{
    display:block;
}

/* CONDITIONS */

.conditions{
    width:57%;
    margin:30px auto;
    min-height:20px;
    overflow:visible;
    display:inline-block;
}

/* REGISTRER BUTTON */

#register_button{
    display:inline-block;
    width: 35%;
    margin:0px auto;
    height:30px;
    background-color:#003C98;
    color:white;
    font-size: 1em;
    box-shadow:0px 3px 0px #3D6199;
    border:none;
    border-radius:5px;
    cursor:pointer;
}