/* ESTO ES UN RESET */

@media screen and (min-width: 1px) and (max-width: 999999px){
    
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, a:hover, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    /* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

    *{
        box-sizing: border-box;
    }
}


/* EMPIEZA EL CODIGO */

/* FUENTES */

body{
    font-family: sans-serif;
    font-size: 14px;
}

#formulario p{
    font-size: 12px;
    text-align: right;
}

/* FORMA GENERAL */

#contenedor{
    width: 400px;
    margin: 50px auto;
    border: 4px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

/* INPUT DE RELLENAR + TEXTO */

input{
    width: 60%;
    display: inline-block;
    font-size: 11px;
    margin: 4px 10px;
    min-height: 25px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px inset grey, 1px 1px 3px white;
}

/* BOTONES - CREATE ACCOUNT - FACEBOOK - TWITTER */

#create-account-button{
    min-height: 40px;
    padding: 10px;
    background-color: #5ADC1D;
    border: none;
    border-radius: 8px;
    box-shadow: 0px -5px 9px inset #143E00, 0px 4px 8px inset #B4FF91;
    cursor: pointer;
    position: relative;
    display: inline-block;
    left: 37.3%;
    margin: 5px 0px 15px 0px;
}

#redes{
    width: 70%;
    margin: 30px auto 0px auto;
}

#facebook-button{
    width: 52.5%;
    height: 40px;
    display: inline;
    padding: 0px 10px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: darkblue;
    text-align: right;
    cursor: pointer;
    transition: height 0.5s, width 0.5s, background-color 0.5s;
}

#twitter-button{
    width: 40%;
    height: 40px;
    display: inline;
    padding: 0px 10px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background-color: lightskyblue;
    text-align: right;
    cursor: pointer;
    transition: height 0.5s, width 0.5s, background-color 0.5s;
}

/* LINEAS HORIZONTALES, OR */

.line1{
    border: 1px solid green;
    margin: 7px 0px;
}

.line2{
    width: 45%;
    display: inline-block;
    border: 2px solid green;
    border-radius: 2px;
}

.or{
    width: 10%;
    display: inline-block;
    text-align: center;
    
}

/* ESTADOS HOVER */

#create-account-button:hover{
    box-shadow: 0px -5px 9px inset #B4FF91, 0px 4px 8px inset #143E00;
}

#facebook-button:hover{
    height: 50px;
    width: 55%;
    background-color: #001464;
}

#twitter-button:hover{
    height: 50px;
    width: 42.5%;
    background-color: #3AABFE;
}