    /* ----- ESTO ES UN RESET ----- */

@media screen and (min-width: 1px) and (max-width: 999999px){
    
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, a:hover, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    /* QUE LA ANCHURA TOTAL SEA IGUAL QUE EL WIDTH-> */

    *{
        box-sizing: border-box;
    }
}

/*-- --COMIENZA EL CODIGO-- --*/

/*-- GENERAL --*/

@font-face{
    font-family:Roboto;
    src:url(../fonts/Roboto-Regular.ttf)
}

body{
    background: linear-gradient(#68B6FF, #A4D3FF, #BDDFFF);
    font-family:Roboto;
}


h1{
    font-family:Roboto;
    font-size: 24px;
}

p{
    font-size: 12px;
}

/*-- FORMA GENERAL FORMULARIO --*/

.formulario{
    width: 100%;
    margin: 0px auto;
}

.contenedor{
    position: relative;
    margin: 50px auto;
    background-color: white;
    width: 330px;
    min-height: 300px;
    padding: 0px;
    border: 2px rgba(165, 165, 165, 0.5) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #F2F2F2, -6px -6px 3px #F2F2F2, 6px -6px 3px #F2F2F2, -6px 6px 3px #F2F2F2;
}

.line{
    margin: 10px auto;
}

.form{
    padding: 5px 20px;
}

/* ESTILOS DE LOS CHECKBOX*/

.write{
    min-height: 38px;
}

.write placeholder{
    color: #000000;
}

.formulario input{
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 3px;
    border: 1px grey solid;
    color: #2B2B2B;
}

.boxcheck{
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

#check{
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    left: -23px;
    opacity: 0;
}

.checkmark{
    height: 12.5px;
    width: 12.5px;
    position: absolute;
    left: -19px;
    top: 2px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 1.5px;
    box-shadow: 1.5px 1.5px 4px inset grey;
}

.boxcheck input:hover ~ .checkmark{
    background-color: #D3D3D3;
}

.boxcheck input:checked ~ .checkmark{
    background-color: #0068ff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

 .boxcheck input:checked ~ .checkmark:after {
  display: block;
}

.boxcheck .checkmark:after {
  left: 3px;
  top: 0.5px;
  width: 2px;
  height: 4px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* ESTILOS DEL BOTON */

.formulario button{
    text-align: center;
    background-color: #0057AA;
    min-height: 45px;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.formulario button:hover{
    cursor: pointer;
}
