titulo{
    text-transform: uppercase;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    text-align: center;
    color: white;

}

decathlon {
    background-color: #0082C3;
    font-size: 20px;
    text-align: center;
    padding: 2em;
    
}

deportistas,tiendas{
    text-align: center;
    width: 14em;
    margin: 0.5em auto;
    background-color: #b2def5;
    display: block;      
       border: solid 2px #006c9e;
       padding: 10px; 
}

deportista, tienda{
    display: block;
}

n_empleados, medallas, deporte, nacionalidad{
    display: none;
}